@font-face {
  font-family: "Barlow";
  src: url("./assets/BarlowBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("./assets/BarlowMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  fill: var(--theme-fore);
  /* fallback */
  --theme-fore: #fc6767; 
  --theme-back: #fff; 
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow:hidden; */
}