
div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

a {
  padding: 0.5rem;
  font-size: 2rem;
  aspect-ratio: 1/1;
  text-decoration: none;

  color: var(--theme-fore);
  border: 0.25rem solid var(--theme-fore);
  box-shadow: 0rem 0.75rem var(--theme-fore);
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;


  transition: all 100ms;
}


a:active {
  box-shadow: 0rem 0rem var(--theme-fore);
  background-color: #fcfcfc;
  color: var(--theme-fore);
  translate: 0 0.75rem;
}